# coding: utf-8

{{>partial_header}}

from __future__ import absolute_import

import unittest
import string
import random

{{#models}}
{{#model}}
import {{packageName}}
from {{modelPackage}}.{{classFilename}} import {{classname}}  # noqa: E501
#from {{packageName}}.rest import ApiException


class Test{{classname}}(unittest.TestCase):
    """{{classname}} unit test stubs"""

    def id_generator(self, size=6, chars=string.ascii_uppercase + string.digits):
        return ''.join(random.choice(chars) for _ in range(size))

    def setUp(self):
        # FIXME: update assignements for none string types e.g boolean and int
        self._unique_id = self.id_generator()
        self._model = {{classname}}()  # noqa: E501
        
        {{#vars}}{{#-first}}
		{{/-first}}
        self._model.{{name}} = self._unique_id
		{{/vars}}

    def tearDown(self):
        pass

    def test{{classname}}(self):
        """Test {{classname}}"""
        
        model = {{classname}}()  # noqa: E501
        self.assertTrue(isinstance(model, {{classname}}))
        
    def test{{classname}}_properties(self):
        """Test {{classname}}"""
        # FIXME: update assignements for none string types e.g boolean and int
        
        new_unique_id = self.id_generator()
        
        {{#vars}}{{#-first}}
		{{/-first}}
        self._model.{{name}} = new_unique_id
        self.assertEqual(self._model.{{name}},new_unique_id)
        self.assertNotEqual(self._model.{{name}},self._unique_id)
         
		{{/vars}}

{{/model}}
{{/models}}

if __name__ == '__main__':
    unittest.main()
