# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class PoliciesldapPoliciesApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_or_update_policy(self, id, **kwargs):
        """
        creates or updates the LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_or_update_policy(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str authentication_type: 
        :param int cache_timeout: 
        :param str certificate_id: 
        :param str context: 
        :param str context_type: 
        :param str description: 
        :param str dn_id: 
        :param str email_id: 
        :param bool enabled: 
        :param str filter_id: 
        :param str filter_value: 
        :param str group_id: 
        :param str host: 
        :param str name: 
        :param str password_id: 
        :param int port: 
        :param str principal: 
        :param int read_timeout_minutes: 
        :param str referral_processing: 
        :param bool restrict_menus: 
        :param str role_policy: 
        :param str search_scope: 
        :param str user_id: 
        :param bool use_ssl: 
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_or_update_policy_with_http_info(id, **kwargs)
        else:
            (data) = self.create_or_update_policy_with_http_info(id, **kwargs)
            return data

    def create_or_update_policy_with_http_info(self, id, **kwargs):
        """
        creates or updates the LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_or_update_policy_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str authentication_type: 
        :param int cache_timeout: 
        :param str certificate_id: 
        :param str context: 
        :param str context_type: 
        :param str description: 
        :param str dn_id: 
        :param str email_id: 
        :param bool enabled: 
        :param str filter_id: 
        :param str filter_value: 
        :param str group_id: 
        :param str host: 
        :param str name: 
        :param str password_id: 
        :param int port: 
        :param str principal: 
        :param int read_timeout_minutes: 
        :param str referral_processing: 
        :param bool restrict_menus: 
        :param str role_policy: 
        :param str search_scope: 
        :param str user_id: 
        :param bool use_ssl: 
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'authentication_type', 'cache_timeout', 'certificate_id', 'context', 'context_type', 'description', 'dn_id', 'email_id', 'enabled', 'filter_id', 'filter_value', 'group_id', 'host', 'name', 'password_id', 'port', 'principal', 'read_timeout_minutes', 'referral_processing', 'restrict_menus', 'role_policy', 'search_scope', 'user_id', 'use_ssl']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `create_or_update_policy`")

        resource_path = '/policies/ldapPolicies/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'authentication_type' in params:
            form_params.append(('authenticationType', params['authentication_type']))
        if 'cache_timeout' in params:
            form_params.append(('cacheTimeout', params['cache_timeout']))
        if 'certificate_id' in params:
            form_params.append(('certificateId', params['certificate_id']))
        if 'context' in params:
            form_params.append(('context', params['context']))
        if 'context_type' in params:
            form_params.append(('contextType', params['context_type']))
        if 'description' in params:
            form_params.append(('description', params['description']))
        if 'dn_id' in params:
            form_params.append(('dnId', params['dn_id']))
        if 'email_id' in params:
            form_params.append(('emailId', params['email_id']))
        if 'enabled' in params:
            form_params.append(('enabled', params['enabled']))
        if 'filter_id' in params:
            form_params.append(('filterId', params['filter_id']))
        if 'filter_value' in params:
            form_params.append(('filterValue', params['filter_value']))
        if 'group_id' in params:
            form_params.append(('groupId', params['group_id']))
        if 'host' in params:
            form_params.append(('host', params['host']))
        if 'name' in params:
            form_params.append(('name', params['name']))
        if 'password_id' in params:
            form_params.append(('passwordId', params['password_id']))
        if 'port' in params:
            form_params.append(('port', params['port']))
        if 'principal' in params:
            form_params.append(('principal', params['principal']))
        if 'read_timeout_minutes' in params:
            form_params.append(('readTimeoutMinutes', params['read_timeout_minutes']))
        if 'referral_processing' in params:
            form_params.append(('referralProcessing', params['referral_processing']))
        if 'restrict_menus' in params:
            form_params.append(('restrictMenus', params['restrict_menus']))
        if 'role_policy' in params:
            form_params.append(('rolePolicy', params['role_policy']))
        if 'search_scope' in params:
            form_params.append(('searchScope', params['search_scope']))
        if 'user_id' in params:
            form_params.append(('userId', params['user_id']))
        if 'use_ssl' in params:
            form_params.append(('useSsl', params['use_ssl']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LdapPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def create_policy(self, name, **kwargs):
        """
        creates a new LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy(name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str name:  (required)
        :param str authentication_type: 
        :param int cache_timeout: 
        :param str certificate_id: 
        :param str context: 
        :param str context_type: 
        :param str description: 
        :param str dn_id: 
        :param str email_id: 
        :param bool enabled: 
        :param str filter_id: 
        :param str filter_value: 
        :param str group_id: 
        :param str host: 
        :param str password_id: 
        :param int port: 
        :param str principal: 
        :param int read_timeout_minutes: 
        :param str referral_processing: 
        :param bool restrict_menus: 
        :param str role_policy: 
        :param str search_scope: 
        :param str user_id: 
        :param bool use_ssl: 
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_policy_with_http_info(name, **kwargs)
        else:
            (data) = self.create_policy_with_http_info(name, **kwargs)
            return data

    def create_policy_with_http_info(self, name, **kwargs):
        """
        creates a new LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy_with_http_info(name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str name:  (required)
        :param str authentication_type: 
        :param int cache_timeout: 
        :param str certificate_id: 
        :param str context: 
        :param str context_type: 
        :param str description: 
        :param str dn_id: 
        :param str email_id: 
        :param bool enabled: 
        :param str filter_id: 
        :param str filter_value: 
        :param str group_id: 
        :param str host: 
        :param str password_id: 
        :param int port: 
        :param str principal: 
        :param int read_timeout_minutes: 
        :param str referral_processing: 
        :param bool restrict_menus: 
        :param str role_policy: 
        :param str search_scope: 
        :param str user_id: 
        :param bool use_ssl: 
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'authentication_type', 'cache_timeout', 'certificate_id', 'context', 'context_type', 'description', 'dn_id', 'email_id', 'enabled', 'filter_id', 'filter_value', 'group_id', 'host', 'password_id', 'port', 'principal', 'read_timeout_minutes', 'referral_processing', 'restrict_menus', 'role_policy', 'search_scope', 'user_id', 'use_ssl']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params) or (params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `create_policy`")

        resource_path = '/policies/ldapPolicies'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'name' in params:
            form_params.append(('name', params['name']))
        if 'authentication_type' in params:
            form_params.append(('authenticationType', params['authentication_type']))
        if 'cache_timeout' in params:
            form_params.append(('cacheTimeout', params['cache_timeout']))
        if 'certificate_id' in params:
            form_params.append(('certificateId', params['certificate_id']))
        if 'context' in params:
            form_params.append(('context', params['context']))
        if 'context_type' in params:
            form_params.append(('contextType', params['context_type']))
        if 'description' in params:
            form_params.append(('description', params['description']))
        if 'dn_id' in params:
            form_params.append(('dnId', params['dn_id']))
        if 'email_id' in params:
            form_params.append(('emailId', params['email_id']))
        if 'enabled' in params:
            form_params.append(('enabled', params['enabled']))
        if 'filter_id' in params:
            form_params.append(('filterId', params['filter_id']))
        if 'filter_value' in params:
            form_params.append(('filterValue', params['filter_value']))
        if 'group_id' in params:
            form_params.append(('groupId', params['group_id']))
        if 'host' in params:
            form_params.append(('host', params['host']))
        if 'password_id' in params:
            form_params.append(('passwordId', params['password_id']))
        if 'port' in params:
            form_params.append(('port', params['port']))
        if 'principal' in params:
            form_params.append(('principal', params['principal']))
        if 'read_timeout_minutes' in params:
            form_params.append(('readTimeoutMinutes', params['read_timeout_minutes']))
        if 'referral_processing' in params:
            form_params.append(('referralProcessing', params['referral_processing']))
        if 'restrict_menus' in params:
            form_params.append(('restrictMenus', params['restrict_menus']))
        if 'role_policy' in params:
            form_params.append(('rolePolicy', params['role_policy']))
        if 'search_scope' in params:
            form_params.append(('searchScope', params['search_scope']))
        if 'user_id' in params:
            form_params.append(('userId', params['user_id']))
        if 'use_ssl' in params:
            form_params.append(('useSsl', params['use_ssl']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LdapPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def create_policy_copy(self, id, new_id, **kwargs):
        """
        creates a copy of the LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy_copy(id, new_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str new_id:  (required)
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_policy_copy_with_http_info(id, new_id, **kwargs)
        else:
            (data) = self.create_policy_copy_with_http_info(id, new_id, **kwargs)
            return data

    def create_policy_copy_with_http_info(self, id, new_id, **kwargs):
        """
        creates a copy of the LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy_copy_with_http_info(id, new_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str new_id:  (required)
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'new_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_policy_copy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `create_policy_copy`")
        # verify the required parameter 'new_id' is set
        if ('new_id' not in params) or (params['new_id'] is None):
            raise ValueError("Missing the required parameter `new_id` when calling `create_policy_copy`")

        resource_path = '/policies/ldapPolicies/{id}/copy'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'new_id' in params:
            query_params['newId'] = params['new_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LdapPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def export_fsg(self, id, password, **kwargs):
        """
        exports an fsg based on this policy to a file
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.export_fsg(id, password, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str password:  (required)
        :param str agent: 
        :return: JavaIoOutputStream
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.export_fsg_with_http_info(id, password, **kwargs)
        else:
            (data) = self.export_fsg_with_http_info(id, password, **kwargs)
            return data

    def export_fsg_with_http_info(self, id, password, **kwargs):
        """
        exports an fsg based on this policy to a file
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.export_fsg_with_http_info(id, password, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str password:  (required)
        :param str agent: 
        :return: JavaIoOutputStream
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'password', 'agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_fsg" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `export_fsg`")
        # verify the required parameter 'password' is set
        if ('password' not in params) or (params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `export_fsg`")

        resource_path = '/policies/ldapPolicies/{id}/fsg'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'agent' in params:
            query_params['agent'] = params['agent']

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'password' in params:
            form_params.append(('password', params['password']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/octet-stream'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json', 'application/xml', 'application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='JavaIoOutputStream',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_policy(self, id, **kwargs):
        """
        gets the LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_policy_with_http_info(id, **kwargs)
        else:
            (data) = self.get_policy_with_http_info(id, **kwargs)
            return data

    def get_policy_with_http_info(self, id, **kwargs):
        """
        gets the LDAP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: LdapPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_policy`")

        resource_path = '/policies/ldapPolicies/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LdapPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_policy_list(self, **kwargs):
        """
        returns a list of policies
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy_list(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: PolicyList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_policy_list_with_http_info(**kwargs)
        else:
            (data) = self.get_policy_list_with_http_info(**kwargs)
            return data

    def get_policy_list_with_http_info(self, **kwargs):
        """
        returns a list of policies
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy_list_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: PolicyList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_policy_list" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/policies/ldapPolicies'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PolicyList',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def remove_policy(self, id, **kwargs):
        """
        deletes the policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.remove_policy(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.remove_policy_with_http_info(id, **kwargs)
        else:
            (data) = self.remove_policy_with_http_info(id, **kwargs)
            return data

    def remove_policy_with_http_info(self, id, **kwargs):
        """
        deletes the policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.remove_policy_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `remove_policy`")

        resource_path = '/policies/ldapPolicies/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept([])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def transfer_fsg(self, id, agent_group, **kwargs):
        """
        transfers an fsg based on this policy to the specified agent group
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transfer_fsg(id, agent_group, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str agent_group:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.transfer_fsg_with_http_info(id, agent_group, **kwargs)
        else:
            (data) = self.transfer_fsg_with_http_info(id, agent_group, **kwargs)
            return data

    def transfer_fsg_with_http_info(self, id, agent_group, **kwargs):
        """
        transfers an fsg based on this policy to the specified agent group
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transfer_fsg_with_http_info(id, agent_group, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str agent_group:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'agent_group']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method transfer_fsg" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `transfer_fsg`")
        # verify the required parameter 'agent_group' is set
        if ('agent_group' not in params) or (params['agent_group'] is None):
            raise ValueError("Missing the required parameter `agent_group` when calling `transfer_fsg`")

        resource_path = '/policies/ldapPolicies/{id}/transfer'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'agent_group' in params:
            query_params['agentGroup'] = params['agent_group']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept([])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
