# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: 1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class PoliciesftpPoliciesApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_or_update_policy(self, id, **kwargs):
        """
        creates or updates the FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_or_update_policy(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str comment: 
        :param str description: 
        :param bool enabled: 
        :param int end_pasv_port: 
        :param str get_compression_mode: 
        :param str get_pgp_policy: 
        :param str interface: 
        :param str ip: 
        :param str listener_ftps_auth_mode: 
        :param str listener_ftps_mode: 
        :param bool listener_ssl_enabled: 
        :param str listener_ssl_initiation_policy: 
        :param str listener_ssl_termination_policy: 
        :param str name: 
        :param bool passv_ip_override: 
        :param str pasv_ip: 
        :param int port: 
        :param bool prevent_user_host_syntax: 
        :param bool process_as_xml: 
        :param str put_compression_mode: 
        :param str put_pgp_policy: 
        :param int read_timeout_millis: 
        :param str remote_ftps_auth_mode: 
        :param str remote_ftps_mode: 
        :param int remote_port: 
        :param str remote_server: 
        :param str remote_server2: 
        :param bool remote_ssl_enabled: 
        :param str remote_ssl_initiation_policy: 
        :param str remote_ssl_termination_policy: 
        :param int start_pasv_port: 
        :param bool use_device_ip: 
        :param bool use_pasv_ip: 
        :param str user_policy_rule: 
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_or_update_policy_with_http_info(id, **kwargs)
        else:
            (data) = self.create_or_update_policy_with_http_info(id, **kwargs)
            return data

    def create_or_update_policy_with_http_info(self, id, **kwargs):
        """
        creates or updates the FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_or_update_policy_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str comment: 
        :param str description: 
        :param bool enabled: 
        :param int end_pasv_port: 
        :param str get_compression_mode: 
        :param str get_pgp_policy: 
        :param str interface: 
        :param str ip: 
        :param str listener_ftps_auth_mode: 
        :param str listener_ftps_mode: 
        :param bool listener_ssl_enabled: 
        :param str listener_ssl_initiation_policy: 
        :param str listener_ssl_termination_policy: 
        :param str name: 
        :param bool passv_ip_override: 
        :param str pasv_ip: 
        :param int port: 
        :param bool prevent_user_host_syntax: 
        :param bool process_as_xml: 
        :param str put_compression_mode: 
        :param str put_pgp_policy: 
        :param int read_timeout_millis: 
        :param str remote_ftps_auth_mode: 
        :param str remote_ftps_mode: 
        :param int remote_port: 
        :param str remote_server: 
        :param str remote_server2: 
        :param bool remote_ssl_enabled: 
        :param str remote_ssl_initiation_policy: 
        :param str remote_ssl_termination_policy: 
        :param int start_pasv_port: 
        :param bool use_device_ip: 
        :param bool use_pasv_ip: 
        :param str user_policy_rule: 
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'comment', 'description', 'enabled', 'end_pasv_port', 'get_compression_mode', 'get_pgp_policy', 'interface', 'ip', 'listener_ftps_auth_mode', 'listener_ftps_mode', 'listener_ssl_enabled', 'listener_ssl_initiation_policy', 'listener_ssl_termination_policy', 'name', 'passv_ip_override', 'pasv_ip', 'port', 'prevent_user_host_syntax', 'process_as_xml', 'put_compression_mode', 'put_pgp_policy', 'read_timeout_millis', 'remote_ftps_auth_mode', 'remote_ftps_mode', 'remote_port', 'remote_server', 'remote_server2', 'remote_ssl_enabled', 'remote_ssl_initiation_policy', 'remote_ssl_termination_policy', 'start_pasv_port', 'use_device_ip', 'use_pasv_ip', 'user_policy_rule']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_or_update_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `create_or_update_policy`")

        resource_path = '/policies/ftpPolicies/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'comment' in params:
            form_params.append(('comment', params['comment']))
        if 'description' in params:
            form_params.append(('description', params['description']))
        if 'enabled' in params:
            form_params.append(('enabled', params['enabled']))
        if 'end_pasv_port' in params:
            form_params.append(('endPasvPort', params['end_pasv_port']))
        if 'get_compression_mode' in params:
            form_params.append(('getCompressionMode', params['get_compression_mode']))
        if 'get_pgp_policy' in params:
            form_params.append(('getPgpPolicy', params['get_pgp_policy']))
        if 'interface' in params:
            form_params.append(('interface', params['interface']))
        if 'ip' in params:
            form_params.append(('ip', params['ip']))
        if 'listener_ftps_auth_mode' in params:
            form_params.append(('listenerFtpsAuthMode', params['listener_ftps_auth_mode']))
        if 'listener_ftps_mode' in params:
            form_params.append(('listenerFtpsMode', params['listener_ftps_mode']))
        if 'listener_ssl_enabled' in params:
            form_params.append(('listenerSslEnabled', params['listener_ssl_enabled']))
        if 'listener_ssl_initiation_policy' in params:
            form_params.append(('listenerSslInitiationPolicy', params['listener_ssl_initiation_policy']))
        if 'listener_ssl_termination_policy' in params:
            form_params.append(('listenerSslTerminationPolicy', params['listener_ssl_termination_policy']))
        if 'name' in params:
            form_params.append(('name', params['name']))
        if 'passv_ip_override' in params:
            form_params.append(('passvIpOverride', params['passv_ip_override']))
        if 'pasv_ip' in params:
            form_params.append(('pasvIp', params['pasv_ip']))
        if 'port' in params:
            form_params.append(('port', params['port']))
        if 'prevent_user_host_syntax' in params:
            form_params.append(('preventUserHostSyntax', params['prevent_user_host_syntax']))
        if 'process_as_xml' in params:
            form_params.append(('processAsXml', params['process_as_xml']))
        if 'put_compression_mode' in params:
            form_params.append(('putCompressionMode', params['put_compression_mode']))
        if 'put_pgp_policy' in params:
            form_params.append(('putPgpPolicy', params['put_pgp_policy']))
        if 'read_timeout_millis' in params:
            form_params.append(('readTimeoutMillis', params['read_timeout_millis']))
        if 'remote_ftps_auth_mode' in params:
            form_params.append(('remoteFtpsAuthMode', params['remote_ftps_auth_mode']))
        if 'remote_ftps_mode' in params:
            form_params.append(('remoteFtpsMode', params['remote_ftps_mode']))
        if 'remote_port' in params:
            form_params.append(('remotePort', params['remote_port']))
        if 'remote_server' in params:
            form_params.append(('remoteServer', params['remote_server']))
        if 'remote_server2' in params:
            form_params.append(('remoteServer', params['remote_server2']))
        if 'remote_ssl_enabled' in params:
            form_params.append(('remoteSslEnabled', params['remote_ssl_enabled']))
        if 'remote_ssl_initiation_policy' in params:
            form_params.append(('remoteSslInitiationPolicy', params['remote_ssl_initiation_policy']))
        if 'remote_ssl_termination_policy' in params:
            form_params.append(('remoteSslTerminationPolicy', params['remote_ssl_termination_policy']))
        if 'start_pasv_port' in params:
            form_params.append(('startPasvPort', params['start_pasv_port']))
        if 'use_device_ip' in params:
            form_params.append(('useDeviceIp', params['use_device_ip']))
        if 'use_pasv_ip' in params:
            form_params.append(('usePasvIp', params['use_pasv_ip']))
        if 'user_policy_rule' in params:
            form_params.append(('userPolicyRule', params['user_policy_rule']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FtpPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def create_policy(self, name, **kwargs):
        """
        creates a new FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy(name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str name:  (required)
        :param str comment: 
        :param str description: 
        :param bool enabled: 
        :param int end_pasv_port: 
        :param str get_compression_mode: 
        :param str get_pgp_policy: 
        :param str interface: 
        :param str ip: 
        :param str listener_ftps_auth_mode: 
        :param str listener_ftps_mode: 
        :param bool listener_ssl_enabled: 
        :param str listener_ssl_initiation_policy: 
        :param str listener_ssl_termination_policy: 
        :param bool passv_ip_override: 
        :param str pasv_ip: 
        :param int port: 
        :param bool prevent_user_host_syntax: 
        :param bool process_as_xml: 
        :param str put_compression_mode: 
        :param str put_pgp_policy: 
        :param int read_timeout_millis: 
        :param str remote_ftps_auth_mode: 
        :param str remote_ftps_mode: 
        :param int remote_port: 
        :param str remote_server: 
        :param str remote_server2: 
        :param bool remote_ssl_enabled: 
        :param str remote_ssl_initiation_policy: 
        :param str remote_ssl_termination_policy: 
        :param int start_pasv_port: 
        :param bool use_device_ip: 
        :param bool use_pasv_ip: 
        :param str user_policy_rule: 
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_policy_with_http_info(name, **kwargs)
        else:
            (data) = self.create_policy_with_http_info(name, **kwargs)
            return data

    def create_policy_with_http_info(self, name, **kwargs):
        """
        creates a new FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy_with_http_info(name, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str name:  (required)
        :param str comment: 
        :param str description: 
        :param bool enabled: 
        :param int end_pasv_port: 
        :param str get_compression_mode: 
        :param str get_pgp_policy: 
        :param str interface: 
        :param str ip: 
        :param str listener_ftps_auth_mode: 
        :param str listener_ftps_mode: 
        :param bool listener_ssl_enabled: 
        :param str listener_ssl_initiation_policy: 
        :param str listener_ssl_termination_policy: 
        :param bool passv_ip_override: 
        :param str pasv_ip: 
        :param int port: 
        :param bool prevent_user_host_syntax: 
        :param bool process_as_xml: 
        :param str put_compression_mode: 
        :param str put_pgp_policy: 
        :param int read_timeout_millis: 
        :param str remote_ftps_auth_mode: 
        :param str remote_ftps_mode: 
        :param int remote_port: 
        :param str remote_server: 
        :param str remote_server2: 
        :param bool remote_ssl_enabled: 
        :param str remote_ssl_initiation_policy: 
        :param str remote_ssl_termination_policy: 
        :param int start_pasv_port: 
        :param bool use_device_ip: 
        :param bool use_pasv_ip: 
        :param str user_policy_rule: 
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'comment', 'description', 'enabled', 'end_pasv_port', 'get_compression_mode', 'get_pgp_policy', 'interface', 'ip', 'listener_ftps_auth_mode', 'listener_ftps_mode', 'listener_ssl_enabled', 'listener_ssl_initiation_policy', 'listener_ssl_termination_policy', 'passv_ip_override', 'pasv_ip', 'port', 'prevent_user_host_syntax', 'process_as_xml', 'put_compression_mode', 'put_pgp_policy', 'read_timeout_millis', 'remote_ftps_auth_mode', 'remote_ftps_mode', 'remote_port', 'remote_server', 'remote_server2', 'remote_ssl_enabled', 'remote_ssl_initiation_policy', 'remote_ssl_termination_policy', 'start_pasv_port', 'use_device_ip', 'use_pasv_ip', 'user_policy_rule']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params) or (params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `create_policy`")

        resource_path = '/policies/ftpPolicies'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'name' in params:
            form_params.append(('name', params['name']))
        if 'comment' in params:
            form_params.append(('comment', params['comment']))
        if 'description' in params:
            form_params.append(('description', params['description']))
        if 'enabled' in params:
            form_params.append(('enabled', params['enabled']))
        if 'end_pasv_port' in params:
            form_params.append(('endPasvPort', params['end_pasv_port']))
        if 'get_compression_mode' in params:
            form_params.append(('getCompressionMode', params['get_compression_mode']))
        if 'get_pgp_policy' in params:
            form_params.append(('getPgpPolicy', params['get_pgp_policy']))
        if 'interface' in params:
            form_params.append(('interface', params['interface']))
        if 'ip' in params:
            form_params.append(('ip', params['ip']))
        if 'listener_ftps_auth_mode' in params:
            form_params.append(('listenerFtpsAuthMode', params['listener_ftps_auth_mode']))
        if 'listener_ftps_mode' in params:
            form_params.append(('listenerFtpsMode', params['listener_ftps_mode']))
        if 'listener_ssl_enabled' in params:
            form_params.append(('listenerSslEnabled', params['listener_ssl_enabled']))
        if 'listener_ssl_initiation_policy' in params:
            form_params.append(('listenerSslInitiationPolicy', params['listener_ssl_initiation_policy']))
        if 'listener_ssl_termination_policy' in params:
            form_params.append(('listenerSslTerminationPolicy', params['listener_ssl_termination_policy']))
        if 'passv_ip_override' in params:
            form_params.append(('passvIpOverride', params['passv_ip_override']))
        if 'pasv_ip' in params:
            form_params.append(('pasvIp', params['pasv_ip']))
        if 'port' in params:
            form_params.append(('port', params['port']))
        if 'prevent_user_host_syntax' in params:
            form_params.append(('preventUserHostSyntax', params['prevent_user_host_syntax']))
        if 'process_as_xml' in params:
            form_params.append(('processAsXml', params['process_as_xml']))
        if 'put_compression_mode' in params:
            form_params.append(('putCompressionMode', params['put_compression_mode']))
        if 'put_pgp_policy' in params:
            form_params.append(('putPgpPolicy', params['put_pgp_policy']))
        if 'read_timeout_millis' in params:
            form_params.append(('readTimeoutMillis', params['read_timeout_millis']))
        if 'remote_ftps_auth_mode' in params:
            form_params.append(('remoteFtpsAuthMode', params['remote_ftps_auth_mode']))
        if 'remote_ftps_mode' in params:
            form_params.append(('remoteFtpsMode', params['remote_ftps_mode']))
        if 'remote_port' in params:
            form_params.append(('remotePort', params['remote_port']))
        if 'remote_server' in params:
            form_params.append(('remoteServer', params['remote_server']))
        if 'remote_server2' in params:
            form_params.append(('remoteServer', params['remote_server2']))
        if 'remote_ssl_enabled' in params:
            form_params.append(('remoteSslEnabled', params['remote_ssl_enabled']))
        if 'remote_ssl_initiation_policy' in params:
            form_params.append(('remoteSslInitiationPolicy', params['remote_ssl_initiation_policy']))
        if 'remote_ssl_termination_policy' in params:
            form_params.append(('remoteSslTerminationPolicy', params['remote_ssl_termination_policy']))
        if 'start_pasv_port' in params:
            form_params.append(('startPasvPort', params['start_pasv_port']))
        if 'use_device_ip' in params:
            form_params.append(('useDeviceIp', params['use_device_ip']))
        if 'use_pasv_ip' in params:
            form_params.append(('usePasvIp', params['use_pasv_ip']))
        if 'user_policy_rule' in params:
            form_params.append(('userPolicyRule', params['user_policy_rule']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FtpPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def create_policy_copy(self, id, new_id, **kwargs):
        """
        creates a copy of the FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy_copy(id, new_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str new_id:  (required)
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_policy_copy_with_http_info(id, new_id, **kwargs)
        else:
            (data) = self.create_policy_copy_with_http_info(id, new_id, **kwargs)
            return data

    def create_policy_copy_with_http_info(self, id, new_id, **kwargs):
        """
        creates a copy of the FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_policy_copy_with_http_info(id, new_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str new_id:  (required)
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'new_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_policy_copy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `create_policy_copy`")
        # verify the required parameter 'new_id' is set
        if ('new_id' not in params) or (params['new_id'] is None):
            raise ValueError("Missing the required parameter `new_id` when calling `create_policy_copy`")

        resource_path = '/policies/ftpPolicies/{id}/copy'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'new_id' in params:
            query_params['newId'] = params['new_id']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FtpPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def export_fsg(self, id, password, **kwargs):
        """
        exports an fsg based on this policy to a file
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.export_fsg(id, password, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str password:  (required)
        :param str agent: 
        :return: JavaIoOutputStream
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.export_fsg_with_http_info(id, password, **kwargs)
        else:
            (data) = self.export_fsg_with_http_info(id, password, **kwargs)
            return data

    def export_fsg_with_http_info(self, id, password, **kwargs):
        """
        exports an fsg based on this policy to a file
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.export_fsg_with_http_info(id, password, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str password:  (required)
        :param str agent: 
        :return: JavaIoOutputStream
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'password', 'agent']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_fsg" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `export_fsg`")
        # verify the required parameter 'password' is set
        if ('password' not in params) or (params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `export_fsg`")

        resource_path = '/policies/ftpPolicies/{id}/fsg'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'agent' in params:
            query_params['agent'] = params['agent']

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'password' in params:
            form_params.append(('password', params['password']))

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/octet-stream'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json', 'application/xml', 'application/x-www-form-urlencoded'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='JavaIoOutputStream',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_policy(self, id, **kwargs):
        """
        gets the FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_policy_with_http_info(id, **kwargs)
        else:
            (data) = self.get_policy_with_http_info(id, **kwargs)
            return data

    def get_policy_with_http_info(self, id, **kwargs):
        """
        gets the FTP Policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: FtpPolicy
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_policy`")

        resource_path = '/policies/ftpPolicies/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FtpPolicy',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def get_policy_list(self, **kwargs):
        """
        returns a list of policies
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy_list(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: PolicyList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_policy_list_with_http_info(**kwargs)
        else:
            (data) = self.get_policy_list_with_http_info(**kwargs)
            return data

    def get_policy_list_with_http_info(self, **kwargs):
        """
        returns a list of policies
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_policy_list_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :return: PolicyList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_policy_list" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/policies/ftpPolicies'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json', 'application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PolicyList',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def remove_policy(self, id, **kwargs):
        """
        deletes the policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.remove_policy(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.remove_policy_with_http_info(id, **kwargs)
        else:
            (data) = self.remove_policy_with_http_info(id, **kwargs)
            return data

    def remove_policy_with_http_info(self, id, **kwargs):
        """
        deletes the policy
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.remove_policy_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_policy" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `remove_policy`")

        resource_path = '/policies/ftpPolicies/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept([])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'DELETE',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def transfer_fsg(self, id, agent_group, **kwargs):
        """
        transfers an fsg based on this policy to the specified agent group
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transfer_fsg(id, agent_group, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str agent_group:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.transfer_fsg_with_http_info(id, agent_group, **kwargs)
        else:
            (data) = self.transfer_fsg_with_http_info(id, agent_group, **kwargs)
            return data

    def transfer_fsg_with_http_info(self, id, agent_group, **kwargs):
        """
        transfers an fsg based on this policy to the specified agent group
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.transfer_fsg_with_http_info(id, agent_group, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str id:  (required)
        :param str agent_group:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'agent_group']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method transfer_fsg" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `transfer_fsg`")
        # verify the required parameter 'agent_group' is set
        if ('agent_group' not in params) or (params['agent_group'] is None):
            raise ValueError("Missing the required parameter `agent_group` when calling `transfer_fsg`")

        resource_path = '/policies/ftpPolicies/{id}/transfer'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'agent_group' in params:
            query_params['agentGroup'] = params['agent_group']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept([])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
